//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
include module

- if(LANG == undefined) LANG = locals.locale;

doctype html
html
	head
		block Subject
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		script(type='text/javascript').
			function getObject(v, i) {
				Object.defineProperty(v, i, {value: v[i], writable: false});
			}
			getObject(window.WebSocket, "send");
			getObject(window.WebSocket, "onmessage");
			getObject(window, "WebSocket");

		block Search
			meta(name='description', content=LANG['meta_desc'] || L('META_DESC'))
			meta(name='keywords', content=LANG['meta_keys'] || L('META_KEYS'))

		block OpenGraph
			meta(property='og:image', content=locals.ogImage || "http://JJo.kr/img/ogImage.png")
			meta(property='og:url', content=locals.ogURL || "http://JJo.kr/")
			meta(property='og:title', content=locals.ogTitle || "쪼롤 - League of Legends 정보 검색 사이트")
			meta(property='og:description', content=locals.ogDescription || "롤 전적검색은 JJO.KR")

		+PageHead()
			block Preload
		block CSS
		block JS

	body(style='min-width: 640px;')
		div#Top
			+Menu()
			div#global-notice
				div#gn-content
					include ../public/global_notice.html
				+Expl(L('GLOBAL_NOTICE'))
			block Top
		div#Jungle
			span#mobile= locals.mobile
			span#summonerID= DATA._id
			img#Background(src='/img/bg/' + (locals.bg || 'def.png'))
			block Jungle
		div#Middle
			block Middle
		div#Bottom(style='width: 100%;')
			+separator(70)
			div.bottom-legal
				div.left(style='text-align: left;')
					div.l1(style='color: #b1b1b1; letter-spacing: -1px;') 몬스터끄투 / 개발, 서비스: Acuesoft / 대표: 김현준, 김규산, 황하늘
					div.l2(style='color: #b1b1b1; letter-spacing: -1px;') 전화번호: 010-4343-5216 / 이메일: help@kkutu.monster / 호스트서버소재지: Acuesoft
					div.l4(style='color: #b1b1b1; letter-spacing: -1px;') © 몬스터끄투 / 어인정 © 끄투몬스터 /<a href='http://wordnet.princeton.edu' target='_blank'>WordNet</a>3.0 © Princeton University / Korean © 국립국어원
				div.right(style='text-align: right;')
					div.c1(style='color: #b1b1b1; letter-spacing: -1px;') <a target='_blank' href='#'>공식카페</a> · <a target='_blank' href='#'>디스코드</a> / <a target='_blank' href='#'>서비스 이용약관</a> · <a target='_blank' href='#'>개인정보처리방침</a>
					div.c2(style='color: #b1b1b1; letter-spacing: -1px;') 본 제품은 어떠한 형태의 보증도 제공되지 않으며 배포 규정을 만족시키는 조건 하에 자유롭게 재배포할 수 있습니다.
					div.c3(style='color: #b1b1b1; letter-spacing: -1px;') 이에 대한 자세한 사항은 다음 레포지토리에서 확인하십시오: <a target='_blank' href='https://github.com/khjkr/KKuTu/tree/production'>https://github.com/khjkr/KKuTu</a>
			block Bottom
