//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
//-
	볕뉘 수정사항:
	* Login 을 Passport 로 수행하기 위한 수정

include module

doctype html
html
	head
		title= L('title')
		+PageHead()
	body
		span#locale= JSON.stringify(LANG)
		//볕뉘 수정 구문삭제(30)
		div.login-with= locals.text ? L(locals.text) : L('loginWith')
		//볕뉘 수정
		each val in loginList
			a(href="/login/" + val.vendor)
				button(style="color: " + val.fontColor + "; background-color: " + val.color + ";")= L(val.displayName)
		//볕뉘 수정 끝
		div.login-legal!= L('loginLegal')