//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends m_layout

mixin Dialog(id, w, h, t, nocls)
	div.dialog(id=id, style=`width: ${w}px; height: ${h}px;`)
		div(class=nocls ? 'no-close dialog-head' : 'dialog-head')
			div.dialog-title(style=`width: ${w - 20}px;`)!= t || ''
		div.dialog-body(style='font-size: 13px;')
			block
	
mixin GameOption(key, prefix)
	- var name = locals.OPTIONS[key].name;
	- var sid = name.toLowerCase();
	div.dialog-opt(id=`${prefix}-${sid}-panel`)
		input.game-option(id=`${prefix}-${sid}`, type='checkbox', style='margin-top: 5px; width: auto;')
		label(for=`${prefix}-${sid}`)= L(`opt${name}`)
		+Expl(true)
			div!= L(`expl${name}`)

mixin SettingOption(id, text, st)
	div.dialog-opt(style=st || "")
		input(id=id, type='checkbox', style='margin-top: 5px; width: auto;')
		label(for=id)= text

block Subject
	title= L('title')
	
block JS
	script(type='text/javascript', src='/js/in_game_kkutu.min.js')
	script(src='https://www.google.com/recaptcha/api.js')
	
block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu_shop.css')
	
block Jungle
	span#PUBLIC= PUBLIC ? "true" : undefined
	span#URL= `${locals.PROTOCOL}://${locals.HOST}:${locals.PORT}/${locals._id}`
	span#MOREMI_PART= locals.MOREMI_PART.join(',')
	span#AVAIL_EQUIP= locals.AVAIL_EQUIP.join(',')
	span#RULE= JSON.stringify(locals.RULE)
	span#OPTIONS= JSON.stringify(locals.OPTIONS)
	div#Yell
	div#Loading= L('LOADING')
	-
		LANG['explInjeong'] = `<h5>${L('explInjeong')}</h5>\
			<h5 style='margin-top: 2px; border-top: 1px dashed #444444; padding-top: 2px; color: #BBBBBB;'>${L('explInjeongListTitle')}</h5>\
			<h5>${locals.KO_INJEONG.map(function(item){ return L('theme_' + item); })}</h5>\
			<h5 style='margin-top: 2px; border-top: 1px dashed #444444; padding-top: 2px; color: #BBBBBB;'>${L('explInjeongListTitle')} (${L('modeEKT')}, ${L('modeESH')})</h5>\
			<h5>${locals.EN_INJEONG.map(function(item){ return L('theme_' + item); })}</h5>`;
	
block Middle
	- var VERSION = L('version') + " (모바일)";
	- var nick = SESSION.profile ? (SESSION.profile.title || SESSION.profile.name) : null;
	div#Intro
		img#intro(src='/img/kkutu/m_intro.png')
		//- img#intro-start(src='/img/kkutu/intro_start.gif')
		div#version= VERSION
		div#intro-text= L('LOADING')
	div.kkutu-menu
		button#HelpBtn.for-lobby.for-master.for-normal.for-gaming(style='display: none; background-color: #BBBBBB;')!= L('help')
		button#SettingBtn.for-lobby.for-master.for-normal.for-gaming(style='display: none; background-color: #CCCCCC;')!= L('settings')
		button#CommunityBtn.for-lobby.for-master.for-normal.for-gaming(style='display: none; background-color: #DAA9FF;')!= L('community')
		button#SpectateBtn.for-master.for-normal(style='display: none; background-color: #D19DFF;'): +FA('eye')
		button#SetRoomBtn.for-master(style='display: none; background-color: #B0D2F3;'): +FA('magic')
		button#NewRoomBtn.for-lobby(style='display: none; background-color: #8EC0F3;'): +FA('magic')
		button#QuickRoomBtn.for-lobby(style='display: none; background-color: #B0D2F3;'): +FA('bolt')
		//- button#ShopBtn.for-lobby(style='display: none; background-color: #B3E7B7;'): +FA('shopping-bag')
		button#DictionaryBtn.for-lobby.for-master.for-normal.for-gaming(style='display: none; background-color: #73D07A;'): +FA('book')
		//- button#WordPlusBtn.for-lobby.for-master.for-normal.for-gaming(style='display: none; background-color: #73D07A;')= L('wordPlus')
		button#InviteBtn.for-master(style='display: none; background-color: #9FE669;'): +FA('envelope')
		button#PracticeBtn.for-master.for-normal(style='display: none; background-color: #FCF5A9;'): +FA('plane')
		button#ReadyBtn.for-normal(style='display: none; background-color: #FFC67F;'): +FA('play')
		button#StartBtn.for-master(style='display: none; background-color: #FFB576;'): +FA('play-circle')
		button#ExitBtn.for-master.for-normal.for-gaming(style='display: none; background-color: #FFADAD;'): +FA('times')
		button#ReplayBtn.for-lobby(style='display: none; background-color: #D9FF82;'): +FA('video-camera')
		button#LeaderboardBtn.for-lobby(style='display: none; background-color: #FFADD3;'): +FA('trophy')
	+Dialog('SettingDiag', 300, 240, L('settingsText'))
		div.dialog-bar
			h4= L('mute')
			+SettingOption('mute-bgm', L('bgm'))
			+SettingOption('mute-effect', L('effect'))
		div.dialog-bar
			h4= L('denyReq')
			+SettingOption('deny-invite', L('denyInvite'))
			+SettingOption('deny-whisper', L('whisper'))
			h4
			+SettingOption('deny-friend', L('friendAdd'))
		div.dialog-bar
			h4= L('ingames')
			+SettingOption('auto-ready', L('autoReady'))
		div.dialog-bar
			h4= L('etc')
			+SettingOption('sort-user', L('sortUser'), "width: 200px;")
			h4
			+SettingOption('only-waiting', L('onlyWaiting'), "width: 200px;")
			h4
			+SettingOption('only-unlock', L('onlyUnlock'), "width: 200px;")
		div.dialog-bar.tail-button
			button#setting-ok= L('save')
			button#setting-server= L('changeServer')
	+Dialog('CommunityDiag', 300, 300)
		div.dialog-bar(style='height: 225px; overflow-y: scroll;')
			div#comm-friends
		div.dialog-bar.tail-button
			button#comm-friend-add= L('friendAdd')
	+Dialog('LeaderboardDiag', 300, 450, L('leaderboard'))
		div.dialog-bar(style='height: 350px;'): table#ranking(style='text-align: center;')
			thead(style='font-weight: bold; background-color: #DDDDDD;'): tr
				td(width=30) #
				td(width=55)= L('LEVEL')
				td(width=115)= L('nickname')
				td(width=100)= L('recordScore')
			tbody
		div.dialog-bar: h4(style='width: 100%;')#lb-page
		div.dialog-bar.tail-button
			button#lb-next(style='margin-right: 6px;')= L('nextPage')
			button#lb-me= L('myRank')
			button#lb-prev= L('prevPage')
	+Dialog('QuickDiag', 300, 230, L('quickRoom'))
		div.dialog-bar
			h4= L('gameMode')
			select#quick-mode
				- for(var i in locals.MODE)
					option(value=Number(i))= L('mode' + locals.MODE[i])
		div.dialog-bar(style='height: 59px;')
			h4(style='height: 45px;')= L('misc')
			- for(var i in locals.OPTIONS)
				+GameOption(i, 'quick')
		div.dialog-bar
			h4(style='width: 100%; height: 20px;')#quick-status
		div.dialog-bar
			h4(style='width: 100%; height: 20px;')#quick-queue
		div.dialog-bar.tail-button
			button#quick-ok= L('OK')
	+Dialog('RoomDiag', 300, 375)
		div.dialog-bar
			h4= L('roomTitle')
			input#room-title(placeholder=(nick || L('guest'))+L('roomDefault'), maxlength=20)
		div.dialog-bar
			h4= L('password')
			input#room-pw(type='password', placeholder=L('password'), maxlength=20)
		div.dialog-bar
			h4= L('userLimit')
			input#room-limit(type='number', min=2, max=8, step=1, value=8)
		div.dialog-bar
			h4= L('gameMode')
			select#room-mode
				- for(var i in locals.MODE)
					option(value=Number(i))= L('mode' + locals.MODE[i])
		div.dialog-bar(style='margin-top: -5px; height: 50px;')
			h4
			h4#game-mode-expl.dialog-bar-value(style='width: 100%; font-size: 11px;')
		div.dialog-bar
			h4= L('numRound')
			input#room-round(type='number', min=1, max=10, step=1, value=5)
		div.dialog-bar
			h4= L('roundTime')
			select#room-time
				option(value=10, style='color: #FF4444')
				option(value=30)
				option(value=60, selected)
				option(value=90)
				option(value=120)
				option(value=150)
		div.dialog-bar(style='height: 59px;')
			h4(style='height: 45px;')= L('misc')
			- for(var i in locals.OPTIONS)
				+GameOption(i, 'room')
			div.dialog-opt#room-injpick-panel
				button#room-injeong-pick(style='font-size: 11px;')= L('pickInjeong')
		div.dialog-bar.tail-button
			button#room-ok= L('OK')
	+Dialog('InjPickDiag', 200, 400, L('pickInjeong'))
		h4= L('explInjPick')
		div.dialog-bar
			button#injpick-all= L('injpickAll')
			button#injpick-no= L('injpickNo')
		div.dialog-bar#injpick-list(style='height: 280px; overflow-y: scroll;')
			div.dialog-opt#ko-pick-list(style='width: 100%;')
				- locals.KO_THEME.concat(locals.KO_INJEONG).forEach(function(item){
					- var name = "ko-pick-" + item;
					- if(locals.IJP_EXCEPT.indexOf(item) != -1) return;
					div(style='float: left; width: 100%;')
						input(id=name, type='checkbox', style='width: auto;')
						label(for=name)= LANG['theme_' + item]
				- });
			div.dialog-opt#en-pick-list(style='width: 100%;')
				- locals.EN_THEME.concat(locals.EN_INJEONG).forEach(function(item){
					- var name = "en-pick-" + item;
					- if(locals.IJP_EXCEPT.indexOf(item) != -1) return;
					div(style='float: left; width: 100%;')
						input(id=name, type='checkbox', style='width: auto;')
						label(for=name)= LANG['theme_' + item]
				- });
		div.dialog-bar.tail-button
			button#injpick-ok= L('OK')
	+Dialog('PracticeDiag', 300, 135)
		div.dialog-bar
			h4= L('selectLevel')
			select#practice-level
				option(value=0)= L('aiLevel0')
				option(value=1)= L('aiLevel1')
				option(value=2, selected)= L('aiLevel2')
				option(value=3)= L('aiLevel3')
				option(value=4)= L('aiLevel4')
		div.dialog-bar
			h4= L('team')
			select#ai-team
				option(value=0, selected)= L('teamSolo')
				option(value=1) A
				option(value=2) B
				option(value=3) C
				option(value=4) D
		div.dialog-bar.tail-button
			button#practice-ok= L('OK')
	+Dialog('ResultDiag', 300, 420, L('gameResult'), true)
		div.result-board
		div.result-me
			div.result-me-score
			div.result-me-money
			div.result-me-level
				div.result-me-level-head= L('LEVEL')
				div.result-me-level-body
			+GraphBar('result-me-gauge')
			div.result-me-score-text
			div.expl.result-me-expl
		div.dialog-bar.tail-button
			button#result-ok= L('OK')
			button#result-save= L('saveReplay')
	+Dialog('DictionaryDiag', 300, 300, L('dict'))
		div.dialog-bar
			h4= L('wpHere')
			input#dict-input(style='width: 183px;', placeholder=L('wpInput'), maxlength=200)
		div.dialog-bar#dict-output(style='height: 195px; overflow-y: scroll; color: #BBBBBB; background-color: #111111;')
		div.dialog-bar.tail-button
			select#dict-theme(style='width: 86px;')
				option(value="")= L('pickInjeong')
				- locals.KO_INJEONG.forEach(function(item){
					option(value=item)= L('theme_' + item)
				- });
			button#dict-search= L('SEARCH')
			button#dict-injeong= L('injeongReq')
	+Dialog('InviteDiag', 300, 420, L('invite'))
		div.invite-board(style='height: 355px; overflow-y: scroll;')
		div.dialog-bar.tail-button
			button#invite-robot= L('inviteRobot')
	+Dialog('RoomInfoDiag', 300, 365)
		div.dialog-bar.room-info-head
			h4= L('roomTitle')
			h4.dialog-bar-value.ellipse#ri-title
			h4= L('gameMode')
			h4.dialog-bar-value#ri-mode
			h4= L('rounds')
			h4.dialog-bar-value#ri-round
		div.dialog-bar(style='padding: 2px 0px; border-top: 1px dashed #CCC; margin: 2px 0px;')
			h4= L('players')
			h4.dialog-bar-value#ri-limit
		div.dialog-bar(style='height: 190px; overflow-y: scroll;')
			div#ri-players(style='width: 100%;')
		div.dialog-bar.tail-button
			button#room-info-join= L('join')
	+Dialog('ProfileDiag', 300, 360)
		div.dialog-bar.profile-head
		div.dialog-bar
			h4(style='width: 83px;')= L('place')
			h4.dialog-bar-value#profile-place
		div.dialog-bar.profile-record(style='padding: 2px 0px; border-top: 1px dashed #CCCCCC; margin: 2px 0px; height: 175px; overflow-y: scroll;')
			div.profile-record-field(style='font-weight: bold; text-align: center;')
				div.profile-field-name= L('gameMode')
				div.profile-field-record= L('record')
				div.profile-field-score= L('recordScore')
			div#profile-record
		div.dialog-bar.tail-button
			button#profile-whisper= L('whisper')
			button#profile-shut= L('shut')
			button#profile-kick= L('kick')
			button#profile-level= L('aiSetting')
			button#profile-dress= L('dress')
			button#profile-handover= L('handover')
	+Dialog('KickVoteDiag', 300, 160, L('kickVote'))
		div.dialog-bar#kick-vote-text(style='text-align: center;')
		div.dialog-bar(style='text-align: center;')= L('kickVoteNotice')
		div.dialog-bar
			+GraphBar('kick-vote-time')
		div.dialog-bar.tail-button
			button#kick-vote-no= L('disagree')
			button#kick-vote-yes= L('agree')
	+Dialog('PurchaseDiag', 300, 205, L('purchase'))
		div.dialog-bar
			h4= L('pingBefore')
			h4.dialog-bar-value.purchase-ping#purchase-ping-before
		div.dialog-bar
			h4= L('pingCost')
			h4.dialog-bar-value.purchase-ping#purchase-ping-cost
		div.dialog-bar
			h4= L('pingAfter')
			h4.dialog-bar-value.purchase-ping#purchase-ping-after
		div.dialog-bar
			h4#purchase-item-name(style='width: 100%; font-weight: bold;')
		div.dialog-bar
			h4#purchase-item-desc(style='width: 100%;')
		div.dialog-bar.tail-button
			button#purchase-no= L('NO')
			button#purchase-ok= L('OK')
	+Dialog('ReplayDiag', 300, 300, L('replay'))
		input#replay-file(type='file', style='width: 288px;', accept=".kkt")
		div.dialog-bar
			h4= L('replayDate')
			h4.dialog-bar-value#replay-date -
		div.dialog-bar
			h4= L('replayPlayers')
			h4.dialog-bar-value#replay-players -
		div.dialog-bar.tail-button
			button#replay-view= L('replayView')
	+Dialog('ChatLogDiag', 300, 500, L('chatLog'))
		div#chat-log-board(style='height: 475px; font-size: 11px; overflow-y: scroll;')
	+Dialog('ObtainDiag', 300, 200, L('notice'), true)
		div.dialog-bar
			h4(style='width: 100%;')= L('obtained') + '!'
		div.jt-image#obtain-image(style='margin-left: 110px; width: 80px; height: 80px;')
		div.dialog-bar#obtain-name(style='text-align: center;')
		div.dialog-bar.tail-button
			button#obtain-ok= L('OK')
	+Dialog('HelpDiag', 300, 400, L('helpText'))
		iframe#help-board(width=300, height=375)
	+Product('UserList')
		div 불러오는 중
	+Product('RoomList')
		div 불러오는 중
	+Product('Shop')
		div 불러오는 중
	+Product('Room')
		div.team-selector
			div.team-button#team-0.team-0= L('teamSolo')
			div.team-button#team-1.team-1 A
			div.team-button#team-2.team-2 B
			div.team-button#team-3.team-3 C
			div.team-button#team-4.team-4 D
		div.room-users
	+Product('Game')
		div.game-head
			div.b-left.bb(style='display: none;')
			div.b-left.cwcmd(style='display: none;')
				div.cw-q-head
				input#cw-q-input(placeholder=L('inputHere'), style='width: 313px; height: 20px; font-size: 15px;')
				div.cw-q-body
			div.jjoriping
				img.jjoObj.jjoEyeL(src='/img/jjoeyeL.png')
				img.jjoObj.jjoNose(src='/img/jjonose.png')
				img.jjoObj.jjoEyeR(src='/img/jjoeyeR.png')
				div.jjoDisplayBar
					div.jjo-display
					+GraphBar('jjo-turn-time')
					+GraphBar('jjo-round-time')
			div.items
			div.hints(style='display: none;')
			div.chain
			div.rounds
			div.history-holder
				div.history
		div.game-body
		div.game-input
			input#game-input(placeholder=L('yourTurn')+' '+L('inputHere'))
	+Product('Chat')
		div#Chat
		input#Talk(maxlength=200)
		button#ChatBtn= L('send')
	div#ad

block Bottom
	div#facebook-menu
		div.fb-like(data-href='http://jjo.kr/kkutu', data-width='300', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')