//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends m_layout

block Subject
	title= L('title')

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')
	link(rel='stylesheet', href='/css/in_portal.css')

block JS
	script(type='text/javascript', src='/js/in_portal.min.js')
	if PUBLIC && false
		script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
		script (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-3784210391085906", enable_page_level_ads: true});

block Middle
	+separator(5)
	div(style='margin-left: calc(50% - 170px);')
		div(style='float: left; padding-left: 70px;')
			h3#holder= L('title')
			img#logo(src='/img/kkutu/short_logo.png')
		div.jjoriping(style='margin-top: 10px;')
			img.jjoObj.jjoEyeL(src='/img/jjoeyeL.png', style='top: 40px; left: -270px;')
			img.jjoObj.jjoNose(src='/img/jjonose.png', style='top: 42px; left: -170px;')
			img.jjoObj.jjoEyeR(src='/img/jjoeyeR.png', style='top: 40px; left: -70px;')
			div.jjoDisplayBar(style='float: left; margin-top: -30px; width: 325px; height: 85px;')
				button#game-start.jjo-display= L('gameStart')
	div#menu-bar(style='float: left; margin: 10px 0px 10px calc(50% - 136px); width: 100%;')
		a(target='_blank', href='//cafe.naver.com/sdbx', style='background-color: #63A95B;')= L('sandbox')
		a(target='_blank', href='//blog.jjo.kr/', style='background-color: #4078DC;')= L('CREATOR')
	div(style='float: left; margin-left: calc(50% - 160px);')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 13px;')
			div#server-list
	div(style='float: left; width: calc(100% - 4px); border: 2px solid #CCC; margin-top: 10px; background-color: #EEE;')
		iframe#kkutu-bulletin(width='100%', height='400px', src='/kkutu_bulletin.html')
	+separator(10)

block Bottom
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')